    /* 分页CSS */
    #changePage{
        font-size: 16px;
        min-width:960px;
        height:40px;
        line-height:35px;
        text-align:center;
        color:#808080;
        // margin-bottom: 0;
        background: #fff;
        margin-bottom:10px;
        // position: absolute;
        // top:780px;
        & .turn{
            width:80px;
            height:40px;
            }
        & .turn:hover{
            color:#333;
            cursor: pointer;
        }
        & .title1{
            width:361px;
            }
        & .input{
            width:40px;
            height:40px;
            }
        & .input input{
            width:100%;
            height:40px;
            box-sizing: border-box;
            border:1px solid #369762;
            background:#fff;
            border-radius:4px;
            color:#369762;
            font-size: 16px;
            text-align: center;
            }
        & .button{
            width:40px;
            height:40px;
            }
        & .button:hover{color:#000;cursor: pointer;}
        & .pages{
            background:#fff;
            width:300px;
            overflow: hidden;
            & li{
                cursor: pointer;
                /* color:#aaa; */
                width:40px;
                height:40px;
                margin-left:2px;
                box-sizing: border-box;
                background:#fff;
                border:1px solid #369762;
                &:hover,&[isFocus="yes"]{
                    background:#369762;
                    color:#fff;
                }
                &[isHide="yes"]{display:none}
                &[isHide="no"]{display:block}
            }
            li.checkedStau{
                background:#369762;
                color:#fff;
            }
        }

    }