






html{
background:#A5D3CB;
	font-size:10px;
}

.LoginBox{
	/*set en start*/
	/*font-size:10px;*/
	/*set 0px over*/

	background:#A5D3CB;
	width:850px;
	height:650px;
	border:1px solid #A5D3CB;
	border-radius:32px;
	margin:20px auto;
}







.LoginBox .tipsMax{
	width:850px;
	height:650px;
	


	background:rgba(0,0,0,0.5);
	border:1px solid rgba(255,255,255,0.0);
	border-radius:32px;
	
	position:absolute;
	/*top:20px;*/
	/*left:20px;*/
	

	z-index:100;
	display:none;
}

.LoginBox .tipsMax>div{
	width:650px;
	height:450px;
	background:#fff;
	border:1px solid #fff;
	border-radius:32px;
	margin:0px auto;
	margin-top:83px;
}

.LoginBox .tipsMax>div .tips{
	width:100%;
	height:70%;
	border-bottom:2px solid #f2f2f2;
}


.LoginBox .tipsMax>div .tips .title{
	width:;
	height:;
	/*margin:0px auto;*/
	padding-top:90px;
	color:#585858;
	/*background:#abc;*/
	font-size:28px;
	text-align:center;
	/*border:1px solid red;*/
}

.LoginBox .tipsMax>div .tips .body{
	width:;
	height:;
	/*margin:0px auto;*/
	padding-top:38px;
	text-align:center;
	color:#bfbfbf;
	/*background:#808080;*/
	font-size:22px;
	
}




.LoginBox .tipsMax>div .confirm{
	width:100%;
	height:40%;
}
.LoginBox .tipsMax>div .confirm>div{
	width:10%;
	height:;
	margin:0px auto;
	margin-top:54px;
	color:#26ad9c;
	/*background:#abc;*/
	font-size:28px;
	cursor:pointer;
}








/*tips*/


.tipsUser, .tipsPassword, .tipsRepassword{
	width:850px;
	height:150px;
	


	background:rgba(0,0,0,0);
	/*border:1px solid red;*/
	border-radius:32px;
	
	position:absolute;
	/*top:20px;*/
	/*left:20px;*/
	

	z-index:100;
	display:block;
}





.tipsUser, .tipsPassword, .tipsRepassword{
	width:100%;
	height:20px;
	background:;
	padding-left:100px;
	/*color:red;*/
	font-size:16px;
}

.tipsUser{
	margin-top:90px;
}

.tipsPassword{
	margin-top:210px;
}
.tipsRepassword{
	margin-top:330px;
}



















/*.formLogin{
	margin:auto auto;
}*/
.formLogin div{
	border:1px solid #fff;
	border-radius:16px;
	margin-top:40px;
	height:80px;
	width:680px;
	margin-left:85px;
	background:#fff;
}




/*set img start*/
.formLogin div img{
	width:40px;
	height:40px;
	margin-top:20px;
	margin-left:20px;
	float:left;
}
/*set img over*/

/*设置登录注册输入框start*/
.formLogin .Login2 input,.formLogin .Login3 input{
	background:rgba(0,0,0,0.0);
	float:right;
	margin-top:0px;
	margin-right:0px;
	height:100%;
	width:88%;
	font-size:36px;
	color:#26AD9C;
}

.formLogin .Login2 input::placeholder,.formLogin .Login3 input::placeholder{
	color:#f1f1f1;
	font-size:36px
}
/*设置登录注册输入框over*/



/*hide 1,4,5 Login BGcolor start*/
.formLogin .Login1 ,.formLogin .Login4,.formLogin .Login5 {
	background: rgba(0,0,0,0);
	border:none;
}
/*over*/




.formLogin .Login1{
	height:34px;
	/*width:200px;*/
	/*margin-left:360px;*/
}
.formLogin .Login1 a{
	color:#fff;
	font-size:46px;
}


.formLogin .Login2 span,.formLogin .Login3 span {
	position:relative;
	top:30px;
	left:630px;
	/*right:00px;*/
	/*background:#abcdef;*/
	
}






.formLogin .Login4{
	height:40px;
	/*记住我  竖线 变色*/
	color:#26AD9C;
	font-size:12px;
}
.formLogin .Login4 span{
	width:15%;
	height:75%;
	background:rgba(23,23,222,0);
}
.formLogin .Login4 .Login4Div1{
	float:left;
	top:0px;
	left:0px;
	font-size:26px;
	width:40%;
}
.formLogin .Login4 .Login4Div2{
	
	float:right;
	width:50%;
	position:relative;
	top:0px;
	right:0px;
	

	/*text-align:right;*/
	/*border: 1px dotted black;*/

	font-size:30px;
}

.formLogin .Login4 .Login4Div2 a{
	/*忘记密码  立即注册变色*/
	color:#26AD9C;
}


/*Login button*/
.formLogin .Login5{
	background:#96DCD3;
	/*text-align:center;*/
}

.LoginBox .formLogin .Login5 .Login5Font{
	background:rgba(23,23,222,0);
	width:20%;
	height:56%;
	line-height:200%;

	/*float:left;*/

	/*margin-left:110px;
	margin-top:10px;*/

	/*margin:10px 10px;*/

	/*border:2px solid red;*/



	color:#bde9e4;
	font-size:40px;
}


/*.tipsMax *{box-sizing: border-box;border:1px solid red;}*/

.tipsMax{
	position:absolute;
	top:0px;
	color:red;
	/*width:800px;
	height:800px;*/
	/*border:0px solid red;*/
	margin:0 auto;
}
.tipsMax >div{
	width:800px;
	padding-left:180px;
	height:30px !important;
	background:rgba(0,0,0,0);
	border-radius:8px;
	border:0;
	position:absolute;
	top:0px;
	z-index:100;
	/*display:block;*/
	font-size:20px;
}

.tipsMax .tipsPhoneNumber{
	top:115px;
}
.tipsMax .tipsPassword{
	top:27px;
}
