

/*reset*/


/*newHtml*/
/*点击测试用的小黑盒*/



html{
	background:#A5D3CB;
	font-size:32px;
	font-family: "Microsoft YaHei" ! important;
}

.RegisterBox{
	/*set en start*/
	/*font-size:10px;*/
	/*set 0px over*/
	
	background:#A5D3CB;
	width:850px;
	height:1200px;
	border:1px solid #A5D3CB;
	border-radius:32px;
	margin:20px auto;
}
/*.formRegister{
	margin:auto auto;
}*/
.formRegister div{
	border:1px solid #fff;
	border-radius:16px;
	margin-top:38px;
	height:80px;
	width:680px;
	margin-left:85px;
	background:#fff;
}




/*set img start*/
.formRegister div img{
	width:40px;
	height:40px;
	margin-top:20px;
	margin-left:20px;
	float:left;
}
/*set img over*/


.formRegister input{
	background:rgba(0,0,0,0);
	float:right;
	margin-top:0px;
	margin-right:0px;
	height:80px;
	width:88%;
	font-size:36px;
	color:#26AD9C;
}

.formRegister input::placeholder{
	color:#bababa;
	font-size:36px;
}
/*设置登录注册输入框over*/



/*hide 1,4,5 Register BGcolor start*/
.formRegister .Register1 ,.formRegister .Register4,.formRegister .Register5 {
	background: rgba(0,0,0,0);
	border:none;
	font-size:36px;
}
/*over*/




.formRegister .Register1{
	height:34px;
	/*width:200px;*/
	/*margin-left:360px;*/
}
.formRegister .Register1 a{
	color:#fff;
	font-size:46px;
}


.formRegister .Register2 span,.formRegister .Register3 span ,.formRegister .Register6 span,.formRegister .RegisterIdName 

span,.formRegister .RegisterIdNumber span{
	position:relative;
	top:16px;
	left:628px;
	/*right:00px;*/
	/*background:#abcdef;*/
	
}






.formRegister .Register4{
	height:40px;
	/*记住我  竖线 变色*/
	color:#26AD9C;
	font-size:10px;
}
.formRegister .Register4 span{
	width:15%;
	height:75%;
	background:rgba(23,23,222,0);
}
.formRegister .Register4 .Register4Div1{
	float:left;
	top:0px;
	left:0px;
	font-size:26px;
	width:40%;
}
.formRegister .Register4 .Register4Div2{
	
	float:right;
	width:50%;
	position:relative;
	top:0;
	right:0;
	

	/*text-align:right;*/
	/*border: 1px dotted black;*/

	font-size:30px;
}

.formRegister .Register4 .Register4Div2 a{
	/*忘记密码  立即注册变色*/
	color:#26AD9C;
}


/*Register button*/
.formRegister .Register5{
	background:#96DCD3;
	/*text-align:center;*/
}

.RegisterBox .formRegister .Register5 .Register5Font{
	background:rgba(23,23,222,0);
	width:20%;
	height:0px;

	
	/*float:left;*/

	/*margin-left:110px;
	margin-top:10px;*/

	margin:10px 10px;

	/*border:2px solid red;*/



	color:#bde9e4;
	font-size:40px;
}

.RegisterBox .formRegister .Register5 #submitForm>*{
	margin-top:0px;
	height:100%;
}
.RegisterBox .formRegister .Register5 #submitForm h1{
	line-height:0px;
}
.tipsMax{
	position:absolute;
	top:130px;
	color:red;
	/*width:800px;*/
	/*height:800px;*/
	/*border:0px solid red;*/
	margin:0 auto;
}
.tipsMax >div{
	width:800px;
	padding-left:180px;
	height:30px !important;
	background:rgba(0,0,0,0);
	border-radius:8px;
	border:0;
	position:absolute;
	top:0px;
	z-index:100;
	/*display:block;*/
	font-size:28px;
}

.formRegister .input{
	
	width:450px;
	height:60px;
	margin-top:0px;
	margin-left:75px;
	line-height:92px;
}
.formRegister .input select{
	background:#fff;
	font-size:36px;
	width:100%;
	color:#26ad9c;
}
.formRegister .input .Wdate{
	font-size:36px;
	width:100%;
	color:#26ad9c;
}