@searchCaseDivHeight:50px;
/*index页*/
.bodyFrame{
    width:100%;
    height:auto;
    &>.leftBar{
        height:auto;
        width:200px;
        padding-top:2px;
        & iframe{
            height:calc(100vh - 74px);
            min-height:600px;
            width:100%;
            border-right:2px solid @borderLine;
        }
    }
    &-main{
        height:auto;
        width:100%;
        
    }
    #tabs{
        /*页签Max*/

        .tabs{
            @tabsHeight:50px;
            height:@tabsHeight;
            width:100%;
            background:#fff;
            overflow: hidden;
            /*T1*/ 
            &>div{
                width:95%;
                height:@tabsHeight;
                margin:0 auto;
                background:#fff;
                /*下面是 各个页签title 样式*/
                /*T2*/
                &>div{
                    margin-right:4px;
                    cursor: pointer;
                    height:@tabsHeight;
                    line-height:@tabsHeight;
                    overflow: hidden;
                    border-radius: 4px 4px 4px 4px;
                    text-align:center;
                    width:150px;
                    float:left;
                    background:#f1f1f1;
                    /*选中样式*/
                    &:hover{background:@mainBGColorHover;}
                    &[isFocus="yes"]{background:@mainBGColorHover;}
                    & div{
                        height:auto;
                    }
                    /*clear icon*/
                    & svg{
                        width:18px;
                        height:18px;
                        color:#333;
                        position: relative;
                        right:-65px;
                        top:-65px ;
                        &:hover{
                            color:red;
                        }
                    }
                }
            }
        }
        & iframe{
            height:calc(100vh - 74px);
            min-height:1080px;
            width:100%;
            border-right:2px solid @borderLine;
        }
        /*设置默认 显示隐藏 与 特效*/
        & div[isShow="yes"]{display:block}
        & div[isShow="no"]{display:none}
        & iframe[isShow="yes"]{display:block}
        & iframe[isShow="no"]{display:none}
        
    }
}
/*各个iframe页*/
.bodyFrame1{
    width:100%;
    height:auto;
    &-main{
        height:auto;
        &>div{
            height:auto;
            background:#fff;
            border:1px solid @borderLine;
        }
        &>.title{
            background:@mainBGColor;
            color:#fff;
            & div{
                margin:0 auto;
                height:80px;
                width:95%;
                line-height:80px;
                text-align: left;
                font-size:20px;
            }
        }
        &>.search{
            &>div{
                width:95%;
                margin:0 auto;
                background: @mainBGColor2;
            }
            &>.case{
                height:auto;
                overflow: hidden;
                &>div{
                    float:left;
                    width:95% * 0.33;
                    min-width:367px;
                    height:@searchCaseDivHeight;
                    line-height: @searchCaseDivHeight;
                    &>div{
                        float:left;
                    }
                    & .case-name{
                        text-align:right;
                        padding-right:10px;
                        width:120px;
                        height:100%;
                    }
                    & .case-input{
                        height:100%;
                        & input{
                            height:34px;
                            line-height:34px;
                            padding-left:10px;
                            padding-right:10px;
                            background:#f1f1f1;
                            border-radius: 4px 0 0 4px;
                        }
                        & select{
                            width:191px;
                            height:34px;
                            // line-height:@searchCaseDivHeight;
                            margin-top:10px;
                            padding-left:10px;
                            padding-right:10px;
                            background:#f1f1f1;
                            border-radius: 4px 0 0 4px;
                        }
                    }
                    & .case-icon{
                        width:40px;
                        cursor: pointer;
                        & .icon{
                            border-radius:0 4px 4px 0;
                            margin-top:10px;
                            padding:2px;
                            width:26px;
                            height:30px;
                            color:#fff;
                            &[status="0"]{
                                background:#F75C2F;
                                &:hover{
                                    background:#E83015;
                                    transition: 500ms;
                                }
                            }
                            &[status="1"]{
                                background:#FBE251;
                                &:hover{
                                    background:#FAD689 ;
                                    transition: 500ms;
                                }
                            }
                            &[status="2"]{
                                background:#FFB11B;
                                &:hover{
                                    background:#CC8E16 ;
                                    transition: 500ms;
                                }
                            }
                        }
                    }
                }
                
            }
            
            &>.button {
                width:95%;
                height:auto;
                overflow: hidden;
                &>div{
                    width:95px;
                    height:40px;
                    line-height:40px;
                    background:@mainButtonBGColor;
                    color:@mainColor2;
                    text-align:center;
                    float:right;
                    border-radius: 8px;
                    margin-right:20px;
                    margin-top:10px;
                    margin-bottom:10px;
                    cursor: pointer;
                    &:hover{
                        background:#369762;
                        color:#fff;
                        transition: .5s;
                    }
                }
               
            }
        }
        &>.addNew{
            &>div{
                width:95%;
                margin:0 auto;
                background: @mainBGColor2;
            }
            &>.case{
                height:auto;
                overflow: hidden;
                &>div{
                    float:left;
                    width:95% * 0.33;
                    min-width:367px;
                    height:@searchCaseDivHeight;
                    line-height: @searchCaseDivHeight;
                    &>div{
                        float:left;
                    }
                    & .case-name{
                        text-align:right;
                        padding-right:10px;
                        width:120px;
                        height:100%;
                    }
                    & .case-input{
                        height:100%;
                        & input{
                            height:@searchCaseDivHeight * 0.6;
                            line-height:@searchCaseDivHeight;
                            padding-left:10px;
                            padding-right:10px;
                            background:#f1f1f1;
                            border-radius: 4px 0 0 4px;
                        }
                        & select{
                            width:191px;
                            height:@searchCaseDivHeight * 0.6;
                            // line-height:@searchCaseDivHeight;
                            margin-top:12px;
                            padding-left:10px;
                            padding-right:10px;
                            background:#f1f1f1;
                            border-radius: 4px 0 0 4px;
                        }
                    }
                    & .case-icon{
                        width:40px;
                        cursor: pointer;
                        & .icon{
                            border-radius:0 4px 4px 0;
                            margin-top:12px;
                            padding:2px;
                            width:26px;
                            height:26px;
                            color:#fff;
                            &[status="0"]{
                                background:#F75C2F;
                                &:hover{
                                    background:#E83015;
                                    transition: 500ms;
                                }
                            }
                            &[status="1"]{
                                background:#FBE251;
                                &:hover{
                                    background:#FAD689 ;
                                    transition: 500ms;
                                }
                            }
                            &[status="2"]{
                                background:#FFB11B;
                                &:hover{
                                    background:#CC8E16 ;
                                    transition: 500ms;
                                }
                            }
                        }
                    }
                }
                
            }
            
            &>.button {
                width:95%;
                height:auto;
                overflow: hidden;
                &>div{
                    width:88px;
                    height:40px;
                    line-height:40px;
                    background:@mainButtonBGColor;
                    color:@mainColor2;
                    text-align:center;
                    float:right;
                    border-radius: 8px;
                    margin-right:20px;
                    margin-top:10px;
                    margin-bottom:10px;
                    cursor: pointer;
                    &:hover{
                        background:#369762;
                        color:#fff;
                        transition: .5s;
                    }
                }
            }
        }
        &>.table{
            height:auto;
            &>.charts{
                width:95%;
                margin:0 auto;
                height:auto;
                &>.jsGrid{
                    height:auto;
                }
                &>.table{
                    height:auto;
                }
            }
        }
    }
}

/* #changePage *{box-sizing: border-box;border:1px solid red} */
